$base-font: source-sans-pro, sans-serif;


body{
  font-family: $base-font;
  background-color: #e7e7e7;
  margin: 0;
}

header{
  background-color: #212121;
  padding: 10px;
  h1{
    color: #FFFFFF;
    font-weight: 600;
    margin: 0;
  }
}

table{
  margin: 10px auto;
  background-color: #999;
  border-collapse:separate;
  border-spacing:1px 1px;
  width: 96%;
}

thead{
  th{
    background-color: #ccc;
    font-size: .8rem;
  }
}

tbody{
  th{
    text-align: right;
    vertical-align: top;
    background-color: #ccc;
    width: 5%;
    font-size: .8rem;
  }
  td{
    vertical-align: top;
    padding: 1% 2% 1% 2%;
    width: 16%;
    background-color: #e7e7e7;

  }
}

ul{
  padding-left: 0;
  list-style: none;
  li{
    margin-bottom: 20px;
  }
}



a{
	text-decoration: none;
}


a[data-tip]:after {
  content: attr(data-tip);
  position: absolute;
  z-index: 1000;
  visibility: hidden;
  background: #FFF;
  border: 1px solid #CCC;
  padding: 2px 5px;
  box-shadow: 2px 2px 3px #CCC;
  margin-left: -5%;
}

a[data-tip]:hover:before, a[data-tip]:hover:after {
  visibility: visible;
  -webkit-transition: visibility 0s linear .3s;
  -moz-transition: visibility 0s linear .3s;
  -o-transition: visibility 0s linear .3s;
  transition: visibility 0s linear .3s;
}


.app, .service{
  display: inline-block;
  width: 15%;
  min-width: 20px;
  -webkit-filter: drop-shadow(2px 2px 3px #666);

}

.trial{
	-webkit-filter: saturate(20%);
}

.content{
  margin: 10px;
}


@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  3.12% {
    opacity: 1;
  }
  6.5% {
    opacity: 1;
  }
  9.72%{
  	opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.single-rotator{
	// max-width: 300px;
	// min-height: 300px;
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0 auto;
}

.single{
	opacity: 0;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

.number{
  font-size: 1.5rem;
}

.price{
    @extend .number;
}

.storage{
    @extend .number;
}

@mixin rotator($duration,$delay) {
  -webkit-animation-name: appear;
  -webkit-animation-duration: $duration;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: $delay;
}

$items: 12;
$interval: 5;
$duration: ($interval * $items);


.single-rotator .acrobat  { @include rotator($duration + s, ($interval * 0) + s);	}
.single-rotator .after-effects { @include rotator($duration + s, ($interval * 1) + s);	}
.single-rotator .audition { @include rotator($duration + s, ($interval * 2) + s);	}
.single-rotator .dreamweaver { @include rotator($duration + s, ($interval * 3) + s);	}
.single-rotator .flash { @include rotator($duration + s, ($interval * 4) + s);	}
.single-rotator .illustrator { @include rotator($duration + s, ($interval * 5) + s);	}
.single-rotator .indesign { @include rotator($duration + s, ($interval * 6) + s);	}
.single-rotator .inspect { @include rotator($duration + s, ($interval * 7) + s); }
.single-rotator .muse { @include rotator($duration + s, ($interval * 8) + s);	}
.single-rotator .photoshop { @include rotator($duration + s, ($interval * 9) + s);	}
.single-rotator .premiere { @include rotator($duration + s, ($interval * 10) + s);	}
.single-rotator .speedgrade { @include rotator($duration + s, ($interval * 11) + s);	}

