@import 'mixins';

$base-font: source-sans-pro, sans-serif;


body{
  font-family: $base-font;
  background-color: #e7e7e7;
  margin: 0;
  font-weight: 300;
}

header{
  background-color: #212121;
  padding: 10px;
  h1{
    color: #FFFFFF;
    font-weight: 700;
    margin: 0;
  }
}

table{
  margin: 10px auto;
  background-color: #999;
  border-collapse:separate;
  border-spacing:1px 1px;
  width: 96%;
}

th{
  font-weight: 600;
}

thead{
  th{
    background-color: #ccc;
    font-size: .8rem;
  }
}

tbody{
  th{
    text-align: right;
    vertical-align: top;
    background-color: #ccc;
    width: 5%;
    font-size: .8rem;
  }
  td{
    vertical-align: top;
    padding: 1% 2% 1% 2%;
    width: 16%;
    background-color: #e7e7e7;
    position: relative;

    .details{
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0 5px;
      font-size: 12px;
    }

  }
}

.product-table{
  th{
    width: 15%;
    padding-right: 10px;
    font-size: 100%;
    vertical-align: middle;
  }
  .included, .available{
    background-color: rgba(200,255,200,.8);
  }
  .trial, {
    background-color: rgba(100,100,255,.8);
  }
  .limited{
    background-color: rgba(200,200,255,.8);
  }
   .notavailable{
    background-color: rgba(255,220,220,.8);
  }
  .mixed{
    background-color: rgba(200,255,200,.8);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,220,220,.8) 35px, rgba(255,220,220,.8) 70px);
  }
}

ul{
  padding-left: 0;
  list-style: none;
  li{
    margin-bottom: 20px;
  }
}



a{
	text-decoration: none;
  color: #2699f6;
}

dt{
  font-weight: bold;
}


a[data-tip]:after {
  content: attr(data-tip);
  position: absolute;
  left: 20px;
  right: 10px;
  top: -15px;;
  z-index: 1000;
  visibility: hidden;
  background: #FFF;
  border: 1px solid #CCC;
  padding: 2px 5px;
  box-shadow: 2px 2px 3px #CCC;
  margin-left: -5%;

}

a[data-tip]:hover:before, a[data-tip]:hover:after {
  visibility: visible;
  -webkit-transition: visibility 0s linear .3s;
  -moz-transition: visibility 0s linear .3s;
  -o-transition: visibility 0s linear .3s;
  transition: visibility 0s linear .3s;
}


.app, .service{
  display: inline-block;
  width: 19%;
  min-width: 20px;
  -webkit-filter: drop-shadow(2px 2px 3px #666);

}

.edge, .other{
  width: 13%;
}

.trial{
	-webkit-filter: saturate(20%);
}

.content{
  margin: 10px;
}






.single-rotator{
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0 auto;
}

.single{
	opacity: 0;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}



.number{
  font-size: 1.5rem;
}

.price{
    @extend .number;
}

.storage{
    @extend .number;
}


$items: 12;
$interval: 5;
$duration: ($interval * $items);


.single-rotator .acrobat  { @include rotator($duration + s, ($interval * 0) + s);	}
.single-rotator .after-effects { @include rotator($duration + s, ($interval * 1) + s);	}
.single-rotator .audition { @include rotator($duration + s, ($interval * 2) + s);	}
.single-rotator .dreamweaver { @include rotator($duration + s, ($interval * 3) + s);	}
.single-rotator .flash { @include rotator($duration + s, ($interval * 4) + s);	}
.single-rotator .illustrator { @include rotator($duration + s, ($interval * 5) + s);	}
.single-rotator .indesign { @include rotator($duration + s, ($interval * 6) + s);	}
.single-rotator .inspect { @include rotator($duration + s, ($interval * 7) + s); }
.single-rotator .muse { @include rotator($duration + s, ($interval * 8) + s);	}
.single-rotator .photoshop { @include rotator($duration + s, ($interval * 9) + s);	}
.single-rotator .premiere { @include rotator($duration + s, ($interval * 10) + s);	}
.single-rotator .speedgrade { @include rotator($duration + s, ($interval * 11) + s);	}

.single-rotator .noanimate{
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
}

#modal{
  position:fixed;
  background-color: rgba(0,0,0,.5);
  height: 100%;
  width:100%;
  top:0;
  bottom: 0;
  z-index:40001;

  #modal-box{
    background-color: #FFFFFF;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 20%;
    box-shadow: 3px 3px 5px rgba(0,0,0,.8);
    border-radius: 5px;
    #modal-content{
      font-size: 120%;
      h2{
        margin-top: 0;
      }
    }
    
    .close{
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px 10px 0 0;
      padding-top: 5px;
      background-color: #000;
      height: 25px;
      width: 30px;
      border: 4px solid #999;
      border-radius: 30px;
      text-align: center;
      box-shadow: inset 0 0 3px #FFFFFF, 1px 1px 3px rgba(0,0,0,.8);
      font-weight: bold;
    }
    .close:hover{
      box-shadow: inset 0 0 3px #FFFFFF, 1px 1px 3px rgba(38,153,246,.8);
    }
    .close{
      @include trans(all .2s linear);
    }
  } 

}

.hidden{
  display: none;
}